



@font-face {
	font-family: 'Red Hat Text', sans-serif ;
	src: url('font/RedHatText-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: Roboto;
	src: url('font/Roboto-Bold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: Roboto;
	src: url('font/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: Roboto;
	src: url('font/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: Roboto;
	src: url('font/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: Inter;
	src: url('font/Inter-ExtraBold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: Inter;
	src: url('font/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: Inter;
	src: url('font/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: Inter;
	src: url('font/Inter-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face {
	font-family: Inter;
	src: url('font/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: Inter;
	src: url('font/Inter-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: Inter;
	src: url('font/Inter-ExtraLight.ttf') format('truetype');
	font-weight: 200;
}
@font-face {
	font-family: Inter;
	src: url('font/Inter-Thin.ttf') format('truetype');
	font-weight: 100;
}

@font-face {
	font-family: Inter;
	src: url('font/Inter-Thin.ttf') format('truetype');
	font-weight: 100;
}
body {
    font-family: 'Inter', sans-serif ;
    font-weight: 400;
	/* background-color: #0e1827; */
	/* background-color: #222236; */
	background-color: #1b1b2b;
	/* background-image: url(https://uploads-ssl.webflow.com/602d59da29b66668b8758391/634eaa987dced1abf6accf9f_new-home-glow-desktop-ver-top.svg); */
	/* background-position: 50% 0; */
    background-repeat: no-repeat;
    background-size: 2800px 8109px;
	background-position: center;
	/* overflow-x: hidden; */
}
.vs-input-content{
	width: 100% !important;
}
p,a,div{
	color: #ffffff;
}

  ::-webkit-scrollbar-track {
    background-color: none;
    cursor: pointer;
    width: 10px !important;
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 10px;
    background-color: none;
    cursor: pointer;
    opacity: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e9ecef;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1000ms linear;
  }
  ::-webkit-scrollbar-thumb:hover{
	background-color: #848485;
  }
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
* {
    -webkit-tap-highlight-color: transparent;
}
a{
	text-decoration: none;
	color: unset;
}